
#row1{
  background-color: #265073;
  border:3px solid white;
  padding: 10px;
}
#row2{
  background-color: #2D9596;
  border: 3px solid white;
  padding: 10px;
}
#row3{
  background-color: #9AD0C2;
  border: 3px solid white;
  padding: 10px;
}
#row4{
  background-color: #F1FADA;
  border: 3px solid white;
  padding: 10px;
}
#row5{
  background-color: #EADFB4;
  border: 3px solid white;
  padding: 10px;
}
#row6{
  background-color: #FFC5C5;
  border: 3px solid white;
  padding: 10px;
}
#row7{
  background-color: #F7DED0;
  border: 3px solid white;
  padding: 10px;
}
#row8{
  background-color: #E2BFB3;
  border: 3px solid white;
  padding: 10px;
}
#row9{
  background-color: #FFBE98;
  border: 3px solid white;
  padding: 10px;
}
#row10{
  background-color: #F6995C;
  border: 3px solid white;
  padding: 10px;
}
#row11{
  background-color: #CD8D7A;
  border: 3px solid white;
  padding: 10px;
}
#row12{
  background-color: #B19470;
  border: 3px solid white;
  padding: 10px;
}